@page
@model What2Make_RazorPages.Pages.RecipeModel
@{
    ViewData["Title"] = "Recipe";
}
<h1>@ViewData["Recipe"]</h1>

@if (string.IsNullOrWhiteSpace(Model.errorString) == false)
{
    <div class="h2" style="white-space: pre-line">@Model.errorString</div>
}
else if (Model.recipe is null)
{
    <div class="h4">Loading...</div>
}
else
{
    <h1 class="display-4 font-weight-bold text-center">@Model.recipe.Recipe.RecipeName</h1>

    <h4 class="text-center" style="color: #646462">@Model.recipe.Recipe.Description</h4>
    <br />
    <hr width="100%" style="border-top: double #ffe272" />
    <dl class="row">
        <dt class="col-sm-2">Ingredients</dt>
        <dd class="col-sm">
            @foreach (var ingredient in Model.recipe.Ingredients)
            {
                <p>@ingredient.IngredientName: @ingredient.Quantity</p>
            }
        </dd>
    </dl>
    <br />
    <hr width="100%" style="border-top: double #ffe272" />
    <dl class="row">
        <dt class="col-sm-2">Instructions</dt>
        <dd class="col-sm" style="white-space: pre-line">@Model.recipe.Recipe.Instructions</dd>
    </dl>

    <br />
    <hr width="100%" style="border-top: double #ffe272" />

    <form method="post" class="text-right">
        <button class="btn btn-secondary btn-sm" type="submit">Edit Recipe</button>
    </form>

}

