@page
@model What2Make_RazorPages.Pages.SearchRecipesByNameModel
@{
    ViewData["Title"] = "SearchRecipesByName";
}

<h2>Search Recipes</h2>



<form method="post" asp-page-handler="OnPost">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="RecipeName" class="form-control col-sm-5" value="" placeholder="Recipe Name" />
        <span asp-validation-for="RecipeName" class="text-danger"></span>
        @if (string.IsNullOrWhiteSpace(Model.ErrorString) == false)
        {
            <div class="text-danger">@Model.ErrorString</div>
        }
    </div>
    
    <div class="form-group">
        <input type="submit" value="Search Recipes" class="btn btn-primary" />
    </div>
</form>

<br />
<hr width="100%" style="border-top: double #ffe272" />

@if (Model.RecipeSearchResults != null)
{

    <table class="table table-striped">
        <thead>
            <tr class="text-center thead-dark">
                <th scope="col">Recipe</th>
                <th scope="col">Decription</th>
                <th scope="col">Ingredient Matches</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model.RecipeSearchResults.Recipes)
            {
                <tr>
                    <td class="text-right">
                        <form method="post" asp-page-handler="GoToRecipe">
                            <input asp-for="@Model.RecipeId" value="@recipe.Id" type="hidden" />
                            <input type="submit" class="btn btn-link" value="@recipe.RecipeName" />
                        </form>
                    </td>
                    <td>@recipe.Description</td>
                    <td class="text-center">@recipe.Matches</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <hr width="100%" style="border-top: double #ffe272" />
}

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
